* {
	padding: 0;
	margin: 0;	
}

div {text-transform: uppercase;

}
h1 {
	letter-spacing: 3px;
	font-size: 300%;
	margin-top: 35px;
	
	

}
.res {
	letter-spacing: 7px;
}
	

.pirmas {
	height: 842px;
	width: 595px;
	font-family: inherit;
	border: px solid grey;
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%)

}

.antras {
	letter-spacing: 3px;
	position: relative;
	top: 30%;
	line-height: 2;
}